<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{%  load staticfiles %}
<html>  
    <head>
        <title>{{ data.title }}</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" href="{% static 'css/wiki.css' %}" type="text/css">
        <script src="{% static 'js/EditText.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/wiki.js' %}" type="text/javascript"></script>
        <script type="text/javascript">


        </script>
        
    </head>
    
    <body onload="viewText();" >
        <div id="mw-page-base"></div>
        <div id="mw-head-base"></div>
        
        <div id="content" role="main">
            <h1 id="firstHeading" class="firstHeading" lang="en">
                <span dir="auto">{{ data.title }}</span>
            </h1>    
            <div id="bodyContent">
                <div id="siteSub">From Wikipedia, the free encyclopedia</div>
                {% if request.session.changeStatus  %}
                <table class="metadata plainlinks ambox ambox-protection" >
                    <tbody>
                        <tr>
                            <td class="mbox-image">
                                <div style="width:52px;">
                                    <img  src="{% static 'css/images2/Caution.png' %}" width="40" height="40" >
                                </div>
                            </td>
                            <td class="mbox-text" style="font-weight:bold; font-size:130%;;">
                                <span class="mbox-text-span">{{ request.session.changeStatus }} &nbsp&nbsp
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% endif %}
                <div id="contentSub"></div>
                
                <div id="dynamicPage" >
                                {{ data.content }}
                </div>
            </div>
        </div>
        <div id="mw-navigation">
            <div id="mw-head">
                <div id="p-personal" role="navigation" class="" aria-labelledby="p-personal-label">
	                <ul>{% if request.user.is_authenticated %}
                            <li id="pt-userpage"><a href="/wiki/User:Hunain60" class="new" title="Your user page [alt-shift-.]" accesskey=".">{{ request.user.username }}</a></li>
                            <li id="pt-notifications"><a href="javascript:ViewNotifications();return false;" class="mw-echo-notifications-badge" title="Your notifications">{{ number }}</a>
                             <div style="display:none" id="notify">   <div class="mw-echo-overlay-pokey" display="none"></div>
                                <div class="mw-echo-overlay">
                                    <div class="mw-echo-overlay-title">
                                        <div id="mw-echo-overlay-title-text"><b>Notifications</b></div>
                                    </div>
                                    <ul class="mw-echo-notifications" style="max-height: 190px;">
                                        {% for i in notifications %}
                                        <li class="mw-echo-notification">
                                        <a  href="{{i.link }}" style="color:black">
                                            <div class="mw-echo-notification-wrapper">
                                                <div class="mw-echo-state"><img class="mw-echo-icon" src="{% static 'css/images2/notification.png' %}"/>
                                                    <div class="mw-echo-content">
                                                        <div class="mw-echo-title">{{i.message}}</div>
                                                        <div class="mw-echo-notification-footer">{{i.date}}</div>
                                                        <a href="{{ i.link }}"  class="mw-echo-notification-primary-link"></a>
                                                    </div>
                                                </div>
                                          </div>
                                             </a>

                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <div id="mw-echo-overlay-footer"><a id="mw-echo-overlay-link" class="mw-echo-grey-link" href="/ViewAllNotifications/?id={{ request.user.id }}">All notifications</a></div></div>

                            </div>
                            </li>
                            <li id="pt-mytalk"><a href="/wiki/User_talk:Hunain60" class="new" title="Your talk page [alt-shift-n]" accesskey="n">Talk</a></li>
                            <li id="pt-mysandbox"><a href="#" title="Go to your sandbox">Sandbox</a></li>
                            <li id="pt-preferences"><a href="#" title="Your preferences">Preferences</a></li><li id="pt-betafeatures"><a href="/wiki/Special:Preferences#mw-prefsection-betafeatures">Beta</a></li>
                            <li id="pt-watchlist"><a href="/wiki/" title="Create a new Page" accesskey="l">Create Page</a></li>
                            <li id="pt-mycontris"><a href="/Contributions/?id={{ request.user.id }}" title="A list of your contributions [alt-shift-y]" accesskey="y">Contributions</a></li>
                            <li id="pt-logout"><a href="/logout/" title="Log out">Log out</a></li>
                        {% else %}
                            <li id="pt-createaccount"><a href="/CreateAccount/">Create account</a></li>
                            <li id="pt-login"><a href="/login/" title="You're encouraged to log in; however, it's not mandatory. [alt-shift-o]" accesskey="o">Log in</a></li>
                        {% endif %}

                    </ul>
                </div>
                <div id="left-navigation">
                    <div id="p-namespaces" role="navigation" class="vectorTabs" aria-labelledby="p-namespaces-label">
                    	<ul>
					        <li id="ca-nstab-main" class="selected"><span><a href="" title="View the content page [alt-shift-c]" accesskey="c">Article</a></span></li>
					        <li id="ca-talk"><span><a href="" title="Discussion about the content page [alt-shift-t]" accesskey="t">Talk</a></span></li>
			            </ul>
                    </div>
                </div>
                <div id="right-navigation">
                    <div id="p-views" role="navigation" class="vectorTabs" aria-labelledby="p-views-label">
                        <ul>
                          	<li id="ca-view" class="selected"><span><a href="#">Read</a></span></li>
                            {% if request.user.is_authenticated %}
                            {% if request.user.id == data.admin.id %}
                                <li id="ca-edit"><span><a href="/Edit/?title={{ data.title }}" type="submit" title="You can edit this page.
                                Please review your changes before saving. [alt-shift-e]" accesskey="e">Edit</a></span></li>
                            {% elif  data.Privacy.Type != 'private' %}
                                <li id="ca-edit"><span><a href="/Edit/?title={{ data.title }}" type="submit" title="You can edit this page.
                                Please review your changes before saving. [alt-shift-e]" accesskey="e">Edit</a></span></li>
                            {% endif %}
                            {% endif %}
                            {% if request.user.id == data.admin.id %}
                                <li id="ca-history" class="collapsible"><span><a href="/delete/?title={{ data.title }}" title="Delete this page">Delete Page</a></span></li>
                            {% endif %}
					        <li id="ca-history" class="collapsible"><span><a href="/history/?title={{ data.title }}" title="Past versions of this page [alt-shift-h]" accesskey="h">View history</a></span></li>

                      </ul>
                    </div>
                    <div id="p-search" role="search">
	                    <form action="/SearchAcrossPages/" method="get" id="searchform">
				             <div id="simpleSearch">
						         <input name="searchWord" placeholder="Search" title="Search Wikipedia [alt-shift-f]" accesskey="f" id="searchInput" tabindex="1" autocomplete="off">
                                 <button type="submit"  title="Search Wikipedia for this text" id="searchButton">
                                    <img src="{% static 'css/images2/search-ltr.png' %}" alt="Search" width="12" height="13">
                                 </button>
                             </div>
	                    </form>
                    </div>
                </div>
            </div>
            <div id="mw-panel" class="collapsible-nav">
                <div id="p-logo" role="banner">
                    <a style="background-image: url({% static 'css/images2/Wiki.png' %});" href="/wikipedia/" title="Visit the main page"></a>
                </div>
                <div class="portal first persistent" role="navigation" id="p-navigation" aria-labelledby="p-navigation-label">
                    <div class="body">
                        <ul>
                            <li id="n-mainpage-description"><a href="/wikipedia/" title="Visit the main page [alt-shift-z]" accesskey="z">Main page</a></li>
                            <li id="n-contents"><a href="/wikipedia/Portal:Contents" title="Guides to browsing Wikipedia">Contents</a></li>
                            <li id="n-featuredcontent"><a href="/wikipedia/Portal:Featured_content" title="Featured content – the best of Wikipedia">Featured content</a></li>
                            <li id="n-currentevents"><a href="/wikipedia/Portal:Current_events" title="Find background information on current events">Current events</a></li>
                            <li id="n-randompage"><a href="/wikipedia/Random" title="Load a random article [alt-shift-x]" accesskey="x">Random article</a></li>
                            <li id="n-sitesupport"><a href="" title="Support us">Donate to Wikipedia</a></li>
                        </ul>
                    </div>
                </div>
                <div class="portal collapsed" role="navigation" id="p-interaction" aria-labelledby="p-interaction-label">
                    <h3 id="p-interaction-label" tabindex="2"><a href="javascript:ShowDiv('p-interactionBody','p-interaction');">Interaction</a></h3>
                    <div class="body" style="display:none;" id="p-interactionBody">
                        <ul id="p-interaction-list">
                            <li id="n-help"><a href="/wiki/Help:Contents" title="Guidance on how to use and edit Wikipedia">Help</a></li>
                            <li id="n-aboutsite"><a href="/wiki/Wikipedia:About" title="Find out about Wikipedia">About Wikipedia</a></li>
                            <li id="n-portal"><a href="/wiki/Wikipedia:Community_portal" title="About the project, what you can do, where to find things">Community portal</a></li>
                            <li id="n-recentchanges"><a href="/wiki/Special:RecentChanges" title="A list of recent changes in the wiki [alt-shift-r]" accesskey="r">Recent changes</a></li>
                            <li id="n-contactpage"><a href="//en.wikipedia.org/wiki/Wikipedia:Contact_us">Contact page</a></li>
                        </ul>
                    </div>
                </div>
               <div class="portal collapsed" role="navigation" id="p-tb" aria-labelledby="p-tb-label">
                    <h3 id="p-tb-label" tabindex="3"><a href="javascript:ShowDiv('p-tbBody','p-tb');">Tools</a></h3>
                    <div class="body" style="display:none" id="p-tbBody">
                        <ul id="p-tb-list">
                            <li id="t-whatlinkshere"><a href="/wiki/Special:WhatLinksHere/Earth" title="List of all English Wikipedia pages containing links to this page [alt-shift-j]" accesskey="j">What links here</a></li>
                            <li id="t-recentchangeslinked"><a href="/wiki/Special:RecentChangesLinked/Earth" title="Recent changes in pages linked from this page [alt-shift-k]" accesskey="k">Related changes</a></li>
                            <li id="t-upload"><a href="/wiki/Wikipedia:File_Upload_Wizard" title="Upload files [alt-shift-u]" accesskey="u">Upload file</a></li>
                            <li id="t-specialpages"><a href="/wiki/Special:SpecialPages" title="A list of all special pages [alt-shift-q]" accesskey="q">Special pages</a></li>
                            <li id="t-permalink"><a href="/w/index.php?title=Earth&amp;oldid=583333745" title="Permanent link to this revision of the page">Permanent link</a></li>
                            <li id="t-info"><a href="/w/index.php?title=Earth&amp;action=info">Page information</a></li>
                            <li id="t-wikibase"><a href="//www.wikidata.org/wiki/Q2" title="Link to connected data repository item">Data item</a></li>
                            <li id="t-cite"><a href="/w/index.php?title=Special:Cite&amp;page=Earth&amp;id=583333745" title="Information on how to cite this page">Cite this page</a></li>		<li id="t-articlefeedbackv5-add" class="articleFeedbackv5-trigger-link-holder articleFeedbackv5-trigger-link-holder-TBX"><a href="#">Add your feedback</a></li><li id="t-articlefeedbackv5-view" class="articleFeedbackv5-trigger-link-holder articleFeedbackv5-trigger-link-holder-TBX"><a href="/wiki/Special:ArticleFeedbackv5/Earth">View feedback</a></li></ul>
                    </div>
               </div>
              <div class="portal collapsed" role="navigation" id="p-coll-print_export" aria-labelledby="p-coll-print_export-label">
                    <h3 id="p-coll-print_export-label" tabindex="4"><a href="javascript:ShowDiv('p-collBody','p-coll-print_export');">Print/export</a></h3>
                    <div class="body" style="display:none" id="p-collBody">
                        <ul id="p-coll-print_export-list">
                            <li id="coll-create_a_book"><a href="/w/index.php?title=Special:Book&amp;bookcmd=book_creator&amp;referer=Earth">Create a book</a></li>
                            <li id="coll-download-as-rl"><a href="/w/index.php?title=Special:Book&amp;bookcmd=render_article&amp;arttitle=Earth&amp;oldid=583333745&amp;writer=rl">Download as PDF</a></li>
                            <li id="t-print"><a href="/w/index.php?title=Earth&amp;printable=yes" title="Printable version of this page [alt-shift-p]" accesskey="p">Printable version</a></li>
                        </ul>
                    </div>
              </div>
            </div>

        </div>
        </div>
        <div id="footer" role="contentinfo">
			<ul id="footer-info">
				<li id="footer-info-lastmod"> This page was last modified on {{ data.modifyDate }}.<br></li>
				<li id="footer-info-copyright">Text is available under the <a rel="license" href="//en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License">Creative Commons Attribution-ShareAlike License</a><a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/" style="display:none;"></a>;
                    additional terms may apply.  By using this site, you agree to the <a href="//wikimediafoundation.org/wiki/Terms_of_Use">Terms of Use</a> and <a href="//wikimediafoundation.org/wiki/Privacy_policy">Privacy Policy.</a> <br>
                    Wikipedia® is a registered trademark of the <a href="//www.wikimediafoundation.org/">Wikimedia Foundation, Inc.</a>, a non-profit organization.</li>
			</ul>
			<ul id="footer-places">
				<li id="footer-places-privacy"><a href="//wikimediafoundation.org/wiki/Privacy_policy" title="wikimedia:Privacy policy">Privacy policy</a></li>
				<li id="footer-places-about"><a href="/wiki/Wikipedia:About" title="Wikipedia:About">About Wikipedia</a></li>
			    <li id="footer-places-disclaimer"><a href="/wiki/Wikipedia:General_disclaimer" title="Wikipedia:General disclaimer">Disclaimers</a></li>
				<li id="footer-places-contact"><a href="//en.wikipedia.org/wiki/Wikipedia:Contact_us">Contact Wikipedia</a></li>
				<li id="footer-places-developers"><a class="external" href="https://www.mediawiki.org/wiki/Special:MyLanguage/How_to_contribute">Developers</a></li>
				<li id="footer-places-mobileview"><a href="//en.m.wikipedia.org/w/index.php?title=Earth&amp;title=Earth" class="noprint stopMobileRedirectToggle">Mobile view</a></li>
			</ul>
			<ul id="footer-icons" class="noprint">
				<li id="footer-copyrightico">
			    	<a href="//wikimediafoundation.org/"><img src="{% static 'css/images2/wikimedia-button.png' %} " width="88" height="31" alt="Wikimedia Foundation"></a>
				</li>
				<li id="footer-poweredbyico">
					<a href="//www.mediawiki.org/"><img src="{% static 'css/images2/poweredby_mediawiki_88x31.png' %}" alt="Powered by MediaWiki" width="88" height="31"></a>
				</li>
			</ul>
			<div style="clear:both"></div>
		</div>

    </body>
</html>